<ng-container *ngIf="selectedCategory!='Tech Summary'">
    <mat-list role="list">
        <ul class="list-style-none">
            <mat-list-item role="listitem" *ngFor="let categoryItem of categoryMap.get(selectedCategory)">
                <li class="resume-item">
                    <i class="material-icons">{{categoryItem.icon}}</i>
                    <span class="resume-item-desc">{{categoryItem.desc}}</span>
                </li>
            </mat-list-item>
        </ul>
    </mat-list>
</ng-container>
<ng-container *ngIf="selectedCategory==='Tech Summary'">
    <ul class="timeline">
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">Angular8</span>
                    <span class="time-wrapper"><span class="time">Jun,2020</span></span>
                </div>
                <div class="desc">Worked as Angular Frontend Developer</div>
            </div>
        </li>
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="flag">Selenium</span>
                    <span class="time-wrapper"><span class="time">Nov,2019</span></span>
                </div>
                <div class="desc">Created Test Automation Framework based on Java and Selenium</div>
            </div>
        </li>
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">Machine Learning(Python)</span>
                    <span class="time-wrapper"><span class="time">Nov,2017</span></span>
                </div>
                <div class="desc">Learned through Udemy</div>
            </div>
        </li>
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="flag">Angular 2+</span>
                    <span class="time-wrapper"><span class="time">Apr,2017</span></span>
                </div>
                <div class="desc">Learned through Udemy</div>
            </div>
        </li>
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">Dockers, Jenkins, iOS</span>
                    <span class="time-wrapper"><span class="time">Apr,2016</span></span>
                </div>
                <div class="desc">Self learned Dockers, Jenkins and iOS app development</div>
            </div>
        </li>
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="flag">Mongo</span>
                    <span class="time-wrapper"><span class="time">Sep,2015</span></span>
                </div>
                <div class="desc">MongoDB for Java Developers Course Completion, MongoDB University</div>
            </div>
        </li>
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">SpringBoot, Microservices</span>
                    <span class="time-wrapper"><span class="time">Apr,2014</span></span>
                </div>
                <div class="desc">Self learned, created small projects for monitoring the system </div>
            </div>
        </li>
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="flag">Lucene, ES, Splunk, Kibana</span>
                    <span class="time-wrapper"><span class="time">Apr,2010</span></span>
                </div>
                <div class="desc">Left Verchaska and joined Tata Consultancy Services, My current employer.</div>
            </div>
        </li>
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">Project Management</span>
                    <span class="time-wrapper"><span class="time">Jul,2009</span></span>
                </div>
                <div class="desc">SP Jain Institute of Management & Research (3 day course)</div>
            </div>
        </li>
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="flag">SCWCD</span>
                    <span class="time-wrapper"><span class="time">Mar,2009</span></span>
                </div>
                <div class="desc">Sun Certified Web Component Developer</div>
            </div>
        </li>
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">SCJP</span>
                    <span class="time-wrapper"><span class="time">Mar,2008</span></span>
                </div>
                <div class="desc">Sun Certified Java Programmer</div>
            </div>
        </li>
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="flag">Java, J2EE, JS</span>
                    <span class="time-wrapper"><span class="time">Aug,2006</span></span>
                </div>
                <div class="desc">Joined my first employer as Java developer. Worked on Java, J2EE, Webservices, Payment Gateway Integration etc.</div>
            </div>
        </li>
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">Bachelor of Engg</span>
                    <span class="time-wrapper"><span class="time">2001 - 2005</span></span>
                </div>
                <div class="desc">Electronics & Telecom Engg, with Distinction from Mumbai University</div>
            </div>
        </li>
    </ul>
</ng-container>